.beer-carousel {
	width: 100%;
	margin-top: 3rem;
	overflow: hidden;

	.carousel-beer {
		text-align: center;

		.beer-can, .reserve-bottle {
			display: inline-block;
			margin-left: auto;
			margin-right: auto;

			img {
				height: 100%;
				width: auto;
				@include breakpoint(md) {
					width: 100%;
					height: auto;
				}
			}
		}

		.beer-can {
			height: 65vh;
			@include breakpoint(md) {
				width: 50%;
				height: auto;
			}
			@include breakpoint(xl) {
				width: 60%;
			}
		}

		.reserve-bottle {
			height: 65vh;
			display: inline-block;
			margin-left: auto;
			margin-right: auto;
			@include breakpoint(md) {
				width: 50%;
				height: auto;
			}
			@include breakpoint(xl) {
				width: 70%;
			}
		}

		.carousel-details {
			margin-top: -10vh;
			@include breakpoint(md) {
				margin-top: -6vh;
			}
			@include breakpoint(lg) {
				margin-top: -3vh;
			}
			@include breakpoint(xl) {
				margin-top: -6vh;
			}

			h3,
			p {
				font-family: $oswald;
				color: black;
				font-weight: 500;
			}

			h3 {
				text-transform: uppercase;
			}
		}

		.details-button {
			margin-top: 1rem;
			padding: 0.5rem 1rem;
			border-color: black;
			color: black;
			.right-arrow {
				@include chevron(right, 1.1, black);
			}
		}
	}
}

#reserve-carousel .carousel-details {
	margin-top: 0;

	h3, p {
		color: white;
	}

	h3 {
		width: 60%;
		margin-left: auto;
		margin-right: auto;
	}
}

