.grunge-button--black, .grunge-button--red, .grunge-button--gray, .grunge-button--lightgray {
    display: block;
    width: 12rem;
    margin-left: auto;
    margin-right: auto;
    @include breakpoint(md) {
        width: 14rem;
    }
    @include breakpoint(xl) {
        width: 17rem;
    }
    a {
        width: 100%;
        height: 3rem;
        display: block;
        border: 1px solid white;
        color: white;
        text-decoration: none;
        line-height: 3rem;
        @include breakpoint(md) {
            height: 3.5rem;
            font-size: 1.8rem;
            line-height: 3.4rem;
        }
        @include breakpoint(xl) {
            height: 4rem;
            font-size: 2.2rem;
            line-height: 3.9rem;
        }
    }
}

.button-row {
    @include breakpoint(md) {
        display: flex;
        justify-content: center;
    }
    >div {
        margin-bottom: 2rem;
        &:last-of-type {
            margin-bottom: 0;
        }
        @include breakpoint(md) {
            display: inline-block;
            margin-bottom: 0;
            margin-left: 1.5rem;
            margin-right: 1.5rem;
            &:first-of-type {
                margin-left: 0;
            }
            &::last-of-type {
                margin-right: 0;
            }
        }
    }
}

.details-button {
    border-width: 2px;
    border-style: solid;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    
    .right-arrow {
        @include chevron(right);
    }
}