.core {
	width: 100%;
	height: 200%;
	min-height: 100%;
	position: relative;

	.beers {
		width: 100%;
		max-width: 30rem;
		position: absolute;
		top: 25%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: none;
		@include breakpoint(xl) {
			display: block;
		}
		@include breakpoint(xxl) {
			max-width: 38rem;
		}
	}

	#beer1 {
		z-index: 5;
	}

	#beer2 {
		z-index: 4;
	}

	.beer-info {
		width: 100%;
		height: 50%;
		position: relative;

		.tablet-break {
			display: none;
			@include breakpoint(md) {
				display: block;
			}
		}

		.bg-rt {
			@include background;
			width: 100%;
			height: 40%;
			position: absolute;
			top: 0;
			background-color: white;
			z-index: 1;
			@include breakpoint(md) {
				width: 50%;
				height: 100%;
				top: auto;
				right: 0;
			}
		}

		.color-lt {
			width: 100%;
			height: 60%;
			position: absolute;
			bottom: 0;
			z-index: 1;
			@include breakpoint(md) {
				width: 50%;
				height: 100%;
				bottom: auto;
				left: 0;
			}
		}

		.beer-description {
			position: absolute;
			width: 100%;
			top: 4%;
			left: 50%;
			// top: 50%;
			// left: 18%;
			transform: translate(-50%, 0);
			z-index: 3;
			text-align: center;
			@include breakpoint(md){
				width: 40%;
				top: calc(50% - 12rem);
				left: 25%;
				text-align: left;
				transform: translate(-50%, -50%);
			}
			@include breakpoint(xl) {
				width: auto;
				top: 50%;
				left: 8%;
				transform: translate(0, -50%);
			}

			.description-outline {
				font-size: 12vw;
				@include breakpoint(md) {
					font-size: 8rem;
				}
				@include breakpoint(xl) {
					font-size: 8vw;
				}
			}

			h3 {
				font-family: $oswald;
				// font-size: 2.4rem;
				font-size: 6vw;
				// margin-top: 2rem;
				margin-top: 0.5rem;
				letter-spacing: 1px;
				@include breakpoint(md) {
					font-size: 2.4rem;
					margin-top: 1rem;
				}
				@include breakpoint(xl) {
					font-size: 1.8vw;
				}
			}
		}

		.beer-details {
			width: 100%;
			position: absolute;
			left: 50%;
			bottom: 4%;
			z-index: 3;
			text-align: center;
			transform: translate(-50%, 0);
			@include breakpoint(md) {
				width: 40%;
				top: calc(50% + 12rem);
				// right: 18%;
				left: 25%;
				bottom: auto;
				transform: translate(-50%, -50%);
				text-align: left;
			}
			@include breakpoint(xl) {
				width: auto;
				top: 50%;
				right: 8%;
				left: auto;
				transform: translate(0 , -50%);
			}

			.alcohol-numbers {
				// font-size: 4.8rem;
				font-size: 8.5vw;
				font-family: $oswald;
				font-weight: 700;
				letter-spacing: 1px;
				@include breakpoint(md) {
					font-size: 5rem;
				}
				@include breakpoint(xl) {
					font-size: 4.8vw;
				}
			}

			.details-button {
				border-color: white;
				color: white;
				padding: 0.5rem 1.5rem;
				font-size: 1.6rem;
				margin-top: 1.2rem;
				@include breakpoint(md) {
					margin-top: 2rem;
				}
				@include breakpoint(xl) {
					margin-top: 3rem;
					padding: 0.5rem 2rem;
					font-size: 1.8rem;
				}
			}
		}

		.mobile-beers {
			height: 55%;
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 4;
			transform: translate(-50%, -50%);
			@include breakpoint(md) {
				width: 35%;
				max-width: 25rem;
				height: auto;
				left: 75%;
				transform: translate(-50%, -50%);
			}
			@include breakpoint(xl) {
				display: none;
			}

			img {
				width: auto;
				height: 100%;
				@include breakpoint(md) {
					width: 100%;
					height: auto;
				}
			}
		}
	}

	#info1 {
		.color-lt {
			background-color: $helles-orange;
		}

		.description-outline {
			color: transparent;
			@include breakpoint(md) {
				color: $helles-orange;
			}
		}

		.alcohol-numbers {
			color: $secondary-orange;
		}

		h3 {
			color: $tertiary-orange;
		}

		.bg-rt {
			background-image: url("../../../img/helles-bg.jpg");
		}
	}

	#info2 {
		.color-lt {
			background-color: $ryewit-blue;
		}

		.description-outline {
			color: transparent;
			@include breakpoint(md) {
				color: $ryewit-blue;
			}
		}

		.alcohol-numbers {
			color: #b6e4ff;
		}

		h3 {
			color: $tertiary-blue;
		}

		.bg-rt {
			background-color: $secondary-blue;
		}
	}
}
