.event-square {
	@include background;
	position: relative;
	width: 450px;
	height: 450px;
	border: 1px solid white;

	a {
		width: 100%;
		height: 100%;
		position: relative;
	}

	.event-background-black, .event-background-gray, .event-background-red {
		width: 100%;
		height: 100%;
		opacity: 1;
		transition: 0.4s opacity;
		&:hover {
			opacity: 0;
		}
	}

	.event-background-black {
		background-color: black;
	}

	.event-background-gray {
		background-color: $dark-gray;
	}

	.event-background-red {
		background-color: $red;
	}

	.event-date {
		position: absolute;
		top: 1rem;
		left: 1rem;

		p {
			text-align: center;
			color: white;
			text-transform: uppercase;
			font-family: $oswald;
			&:first-of-type {
				font-size: 2.6rem;
				font-weight: 700;
			}
			&:last-of-type {
				letter-spacing: 1px;
			}
		}
	}

	h3 {
		width: 80%;
		text-align: center;
		font-family: $oswald;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-transform: uppercase;
	}
}
