.hero-heading, .main-heading, .sub-heading, .gray-heading {
   font-family: 'Oswald', sans-serif;
   text-transform: uppercase;
   color: white;
   font-weight: 500;
}

.hero-heading {
    font-size: 5.2rem;
    @include breakpoint(md) {
        font-size: 7.2rem;
    }
    @include breakpoint(xl) {
        font-size: 9rem;
    }
    @include breakpoint(xxl) {
        font-size: 11rem;
    }
}

.main-heading {
    font-size: 4.2rem;
    @include breakpoint(md) {
        font-size: 6.4rem;
    }
    @include breakpoint(xl) {
        font-size: 8rem;
    }
}

.sub-heading {
    font-size: 3.2rem;
    @include breakpoint(md) {
        font-size: 4.8rem;
    }
    @include breakpoint(xl) {
        font-size: 6rem;
    }
}

.gray-heading {
    margin-top: 2.5rem;
    color: $gray;
    font-weight: 600;
    font-size: 11.5vw;
    text-align: center;
    @include breakpoint(md) {
        font-size: 6.5rem;
    }
    @include breakpoint(xl) {
        font-size: 7rem;
    }
    @include breakpoint(xxl) {
        font-size: 5.5vw;
    }
}

.untappd-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;

    h1 {
        color: $red;
        text-transform: uppercase;
        font-family: $oswald;
        display: inline-block;
        font-size: 12vw;
        @include breakpoint(md) {
            font-size: 7.2rem;
        }
        @include breakpoint(xxl) {
            font-size: 10rem;
        }
    }

    .freetail-tap {
        display: inline-block;
        width: 8%;
        margin-left: 1rem;
        margin-right: 1rem;
        @include breakpoint(md) {
            width: 6%;
            margin-left: 2rem;
            margin-right: 2rem;
        }
        @include breakpoint(xl) {
            width: 6rem;
        }
        @include breakpoint(xxl) {
            width: 7rem;
            margin-left: 3rem;
            margin-right: 3rem;
        }
    }
}