.hero-heading, .main-heading, .sub-heading, .gray-heading {
   font-family: 'Oswald', sans-serif;
   text-transform: uppercase;
   color: white;
   font-weight: 500;
}

.hero-heading {
    font-size: 5.2rem;
    @include breakpoint(md) {
        font-size: 7.2rem;
    }
    @include breakpoint(xl) {
        font-size: 9rem;
    }
    @include breakpoint(xxl) {
        font-size: 11rem;
    }
}

.main-heading {
    font-size: 4.2rem;
    @include breakpoint(md) {
        font-size: 6.4rem;
    }
    @include breakpoint(xl) {
        font-size: 8rem;
    }
}

.sub-heading {
    font-size: 3.2rem;
    @include breakpoint(md) {
        font-size: 4.8rem;
    }
    @include breakpoint(xl) {
        font-size: 6rem;
    }
}

.gray-heading {
    margin-top: 2.5rem;
    color: $gray-heading;
    font-weight: 600;
    font-size: 11.5vw;
    text-align: center;
}