.hero {
	@include background;
	width: 100%;
	height: 100%;

	.centered-copy {
		@include complete-center;

		p {
			max-width: 120rem;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.address-bar {
		width: 100%;
		padding: 1.25rem;
		position: absolute;
		bottom: 0;
		background-color: $dark-gray;
		font-weight: 500;
		text-align: center;
		display: none;
		@include breakpoint(lg) {
			display: block;
		}

		p {
			display: inline-block;
			margin-right: 3rem;
		}

		.uppercase-schedule {
			text-transform: uppercase;
		}

		.details-button {
			padding: 0.5rem 1.5rem;
			color: white;
		}
	}
}
