*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 62.5%;
}

body {
	width: 100%;
	height: 100%;
	min-height: 100%;
	margin: 0;
	// padding: 5rem 0 0;
	position: relative;
	font-size: 16px;
	font-size: 1.6rem;
}

img {
	width: 100%;
	height: auto;
	display: block;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
	padding: 0;
	color: white;
	line-height: 1.2;
}

p, a {
	font-family: 'Quicksand', sans-serif;
}

a {
	text-decoration: none;
	display: block;
}

p {
	font-size: 1.4rem;
	@include breakpoint(md) {
		font-size: 1.6rem;
	}
	@include breakpoint(lg) {
		font-size: 1.8rem;
	}
	@include breakpoint(xl) {
		font-size: 2rem;
	}
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}