.brews-body {

    .hero {
        @include background;
        background-image: url('../../../img/brews-hero.jpg');
    }

    .seasonal, .reserve {
        padding-top: 2rem;
        padding-bottom: 2rem;
        @include breakpoint(md) {
            padding-top: 4rem;
            padding-bottom: 4rem;
        }
        @include breakpoint(xl) {
            padding-top: 6rem;
            padding-bottom: 6rem;
        }
    }

    .reserve {
        @include background;
        @extend %clearfix;
        background-image: url('../../../img/reserve-bg.jpg');
    }
}