/* COLORS */
$gray-heading: #a7a8aa;

$helles-orange: #dda124;
$secondary-orange: #ffe08e;
$tertiary-orange: #ae7e1a;

$ryewit-blue: #7a9cb0;
$secondary-blue: #87b6d1;
$tertiary-blue: #456f88;


/* FONTS */
$oswald: 'Oswald', sans-serif;
$quicksand: 'Quicksand', sans-serif;