.main-nav {
    width: 100%;
    height: 5rem;
    position: absolute;
    background-color: white;
    top: 0;
    z-index: 9;
    @include breakpoint(md) {
        height: 8rem;
        // position: fixed;
    }

    .social-media {
        display: none;
    }


    .mobile-logo {
        width: 20%;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        img {
            max-height: 4.5rem;
        }
        @include breakpoint(md) {
            display: none;
        }
    }

    .logo-plate {
        display: none;
        padding: 3rem;
        border: 2px solid white;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: black;
        @include breakpoint(md) {
            display: block;
        }
    }

    .hamburger {
        width: 3rem;
        height: 3rem;
        position: absolute;
        top: 0;
        right: 0;

        span {
            width: 100%;
            height: 5px;
            background-color: #dd1a32;
        }
    }
}