@charset "UTF-8";
/* COLORS */
/* FONTS */
/* CENTER VERTICALLY AND HORIZONTALLY */
/* CENTER VERTICALLY */
/* BACKGROUNDS */
/* MEDIA QUERIES (ADD IF MORE ARE NEEDED) */
/* ARROWS */
/* CHEVRONS */
/* CLEARFIX MIXIN */
section, .events-calendar .calendar-grid, .untappd .untappd-listing .untappd-item, footer .footer-container, footer .beer-logos, footer .footer-nav, .brews-body .reserve, .events-body .events-images {
  *zoom: 1;
}

section:before, .events-calendar .calendar-grid:before, .untappd .untappd-listing .untappd-item:before, footer .footer-container:before, footer .beer-logos:before, footer .footer-nav:before, .brews-body .reserve:before, .events-body .events-images:before, section:after, .events-calendar .calendar-grid:after, .untappd .untappd-listing .untappd-item:after, footer .footer-container:after, footer .beer-logos:after, footer .footer-nav:after, .brews-body .reserve:after, .events-body .events-images:after {
  content: " ";
  display: table;
}

section:after, .events-calendar .calendar-grid:after, .untappd .untappd-listing .untappd-item:after, footer .footer-container:after, footer .beer-logos:after, footer .footer-nav:after, .brews-body .reserve:after, .events-body .events-images:after {
  clear: both;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  position: relative;
  font-size: 16px;
  font-size: 1.6rem;
}

section {
  padding-left: 2rem;
  padding-right: 2rem;
}

@media only screen and (min-width: 680px) {
  section {
    padding-left: 8%;
    padding-right: 8%;
  }
}

img {
  width: 100%;
  height: auto;
  display: block;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
  color: white;
  line-height: 1.2;
}

p, a {
  font-family: 'Quicksand', sans-serif;
}

a {
  text-decoration: none;
  display: block;
}

p {
  font-size: 1.4rem;
}

@media only screen and (min-width: 680px) {
  p {
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: 1024px) {
  p {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 1240px) {
  p {
    font-size: 2rem;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.grunge-button--black, .grunge-button--red, .grunge-button--gray, .grunge-button--lightgray {
  display: block;
  width: 12rem;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 680px) {
  .grunge-button--black, .grunge-button--red, .grunge-button--gray, .grunge-button--lightgray {
    width: 14rem;
  }
}

@media only screen and (min-width: 1240px) {
  .grunge-button--black, .grunge-button--red, .grunge-button--gray, .grunge-button--lightgray {
    width: 17rem;
  }
}

.grunge-button--black a, .grunge-button--red a, .grunge-button--gray a, .grunge-button--lightgray a {
  width: 100%;
  height: 3rem;
  display: block;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  line-height: 3rem;
}

@media only screen and (min-width: 680px) {
  .grunge-button--black a, .grunge-button--red a, .grunge-button--gray a, .grunge-button--lightgray a {
    height: 3.5rem;
    font-size: 1.8rem;
    line-height: 3.4rem;
  }
}

@media only screen and (min-width: 1240px) {
  .grunge-button--black a, .grunge-button--red a, .grunge-button--gray a, .grunge-button--lightgray a {
    height: 4rem;
    font-size: 2.2rem;
    line-height: 3.9rem;
  }
}

@media only screen and (min-width: 680px) {
  .button-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.button-row > div {
  margin-bottom: 2rem;
}

.button-row > div:last-of-type {
  margin-bottom: 0;
}

@media only screen and (min-width: 680px) {
  .button-row > div {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .button-row > div:first-of-type {
    margin-left: 0;
  }
  .button-row > div::last-of-type {
    margin-right: 0;
  }
}

.details-button {
  border-width: 2px;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
}

.details-button .right-arrow::before {
  border-style: solid;
  border-width: 0.15rem 0.15rem 0 0;
  content: '';
  display: inline-block;
  height: 1.1rem;
  position: relative;
  vertical-align: top;
  width: 1.1rem;
  color: white;
  top: 0.55rem;
  left: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.events-calendar {
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

@media only screen and (min-width: 680px) {
  .events-calendar {
    padding-top: 8%;
    padding-bottom: 8%;
  }
}

.events-calendar .calendar-controls {
  text-align: center;
  margin-bottom: 2rem;
}

.events-calendar .calendar-controls a,
.events-calendar .calendar-controls .current-month {
  display: inline-block;
}

.events-calendar .calendar-controls a {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  position: relative;
}

.events-calendar .calendar-controls .left-arrow::before {
  border-style: solid;
  border-width: 0.15rem 0.15rem 0 0;
  content: '';
  display: inline-block;
  height: 2rem;
  position: relative;
  vertical-align: top;
  width: 2rem;
  color: #a7a8aa;
  top: 0.55rem;
  left: 0.25rem;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.events-calendar .calendar-controls .current-month {
  color: #a7a8aa;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 2.4rem;
}

@media only screen and (min-width: 680px) {
  .events-calendar .calendar-controls .current-month {
    font-size: 3.4rem;
  }
}

@media only screen and (min-width: 1720px) {
  .events-calendar .calendar-controls .current-month {
    font-size: 4.2rem;
  }
}

.events-calendar .calendar-controls .right-arrow::before {
  border-style: solid;
  border-width: 0.15rem 0.15rem 0 0;
  content: '';
  display: inline-block;
  height: 2rem;
  position: relative;
  vertical-align: top;
  width: 2rem;
  color: #a7a8aa;
  top: 0.55rem;
  left: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.events-calendar .calendar-controls .left-arrow::before,
.events-calendar .calendar-controls .right-arrow::before {
  border-width: 0.05rem 0.05rem 0 0;
  top: -0.4rem;
}

@media only screen and (min-width: 680px) {
  .events-calendar .calendar-controls .left-arrow::before,
  .events-calendar .calendar-controls .right-arrow::before {
    top: -0.7rem;
  }
}

.events-calendar .calendar-grid {
  width: 100%;
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
}

.events-calendar .calendar-grid .event-square {
  width: 100%;
  height: calc(82vw - 4rem);
  float: left;
}

@media only screen and (min-width: 680px) {
  .events-calendar .calendar-grid .event-square {
    width: 50%;
    height: 35vw;
  }
}

@media only screen and (min-width: 1024px) {
  .events-calendar .calendar-grid .event-square {
    width: 33.3333333%;
    height: 25vw;
    max-height: 30rem;
  }
}

#events-carousel {
  width: 100%;
  max-width: 100rem;
  margin-top: 3rem;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 680px) {
  #events-carousel {
    margin-top: 6rem;
  }
}

.event-square {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  width: 450px;
  height: 450px;
  border: 1px solid white;
}

.event-square a {
  width: 100%;
  height: 100%;
  position: relative;
}

.event-square .event-background-black, .event-square .event-background-gray, .event-square .event-background-red {
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: 0.4s opacity;
  transition: 0.4s opacity;
}

.event-square .event-background-black:hover, .event-square .event-background-gray:hover, .event-square .event-background-red:hover {
  opacity: 0;
}

.event-square .event-background-black {
  background-color: black;
}

.event-square .event-background-gray {
  background-color: #53565a;
}

.event-square .event-background-red {
  background-color: #c8102e;
}

.event-square .event-date {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.event-square .event-date p {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
}

.event-square .event-date p:first-of-type {
  font-size: 2.6rem;
  font-weight: 700;
}

.event-square .event-date p:last-of-type {
  letter-spacing: 1px;
}

.event-square h3 {
  width: 80%;
  text-align: center;
  font-family: "Oswald", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-transform: uppercase;
}

.hero-heading,
.main-heading,
.sub-heading,
.primary-heading {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: white;
  font-weight: 500;
}

.hero-heading {
  font-size: 5.2rem;
}

@media only screen and (min-width: 680px) {
  .hero-heading {
    font-size: 7.2rem;
  }
}

@media only screen and (min-width: 1240px) {
  .hero-heading {
    font-size: 9rem;
  }
}

@media only screen and (min-width: 1720px) {
  .hero-heading {
    font-size: 11rem;
  }
}

.main-heading {
  font-size: 4.2rem;
}

@media only screen and (min-width: 680px) {
  .main-heading {
    font-size: 6.4rem;
  }
}

@media only screen and (min-width: 1240px) {
  .main-heading {
    font-size: 8rem;
  }
}

.sub-heading {
  font-size: 3.2rem;
}

@media only screen and (min-width: 680px) {
  .sub-heading {
    font-size: 4.8rem;
  }
}

@media only screen and (min-width: 1240px) {
  .sub-heading {
    font-size: 6rem;
  }
}

.primary-heading {
  margin-top: 2.5rem;
  font-weight: 600;
  font-size: 11.5vw;
  text-align: center;
}

@media only screen and (min-width: 680px) {
  .primary-heading {
    font-size: 6.5rem;
  }
}

@media only screen and (min-width: 1240px) {
  .primary-heading {
    font-size: 7rem;
  }
}

@media only screen and (min-width: 1720px) {
  .primary-heading {
    font-size: 9rem;
  }
}

.primary-heading.gray {
  color: #a7a8aa;
}

.primary-heading.black {
  color: black;
}

.untappd-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3rem;
}

.untappd-heading h1 {
  color: #c8102e;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  display: inline-block;
  font-size: 12vw;
}

@media only screen and (min-width: 680px) {
  .untappd-heading h1 {
    font-size: 6rem;
  }
}

@media only screen and (min-width: 1720px) {
  .untappd-heading h1 {
    font-size: 9rem;
  }
}

.untappd-heading .freetail-tap {
  display: inline-block;
  width: 8%;
  margin-left: 1rem;
  margin-right: 1rem;
}

@media only screen and (min-width: 680px) {
  .untappd-heading .freetail-tap {
    width: 6%;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media only screen and (min-width: 1240px) {
  .untappd-heading .freetail-tap {
    width: 6rem;
  }
}

@media only screen and (min-width: 1720px) {
  .untappd-heading .freetail-tap {
    width: 7rem;
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

.centered-copy {
  text-align: center;
}

@media only screen and (min-width: 680px) {
  .centered-copy {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.centered-copy .hero-heading, .centered-copy .main-heading {
  margin-bottom: 2rem;
}

@media only screen and (min-width: 680px) {
  .centered-copy .hero-heading, .centered-copy .main-heading {
    margin-bottom: 3rem;
  }
}

@media only screen and (min-width: 1240px) {
  .centered-copy .hero-heading {
    margin-bottom: 4rem;
  }
}

.centered-copy .sub-heading {
  margin-bottom: 1rem;
}

@media only screen and (min-width: 680px) {
  .centered-copy .sub-heading {
    margin-bottom: 2rem;
  }
}

.centered-copy p {
  margin-bottom: 2rem;
}

@media only screen and (min-width: 680px) {
  .centered-copy p {
    margin-bottom: 3rem;
  }
}

.brews .centered-copy {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media only screen and (min-width: 1240px) {
  .hero .centered-copy p {
    margin-bottom: 4rem;
  }
}

.hero {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.hero .centered-copy {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero .centered-copy p {
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
}

.hero .address-bar {
  width: 100%;
  padding: 1.25rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #53565a;
  font-weight: 500;
  text-align: center;
  display: none;
}

@media only screen and (min-width: 1024px) {
  .hero .address-bar {
    display: block;
  }
}

.hero .address-bar p {
  display: inline-block;
  margin-right: 3rem;
}

.hero .address-bar .uppercase-schedule {
  text-transform: uppercase;
}

.hero .address-bar .details-button {
  padding: 0.5rem 1.5rem;
  color: white;
}

.text-outline {
  width: 90%;
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
  max-width: 130rem;
}

@media only screen and (min-width: 680px) {
  .text-outline {
    width: 80%;
  }
}

@media only screen and (min-width: 1024px) {
  .text-outline {
    width: 75%;
  }
}

@media only screen and (min-width: 1240px) {
  .text-outline {
    width: 65%;
  }
}

.description-outline {
  font-family: "Oswald", sans-serif;
  -webkit-text-stroke: 1px white;
  text-transform: uppercase;
}

@media only screen and (min-width: 680px) {
  .description-outline {
    text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  }
}

.core {
  width: 100%;
  height: 200%;
  min-height: 100%;
  position: relative;
  padding-left: 0;
  padding-right: 0;
}

.core .beers {
  width: 100%;
  max-width: 30rem;
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}

@media only screen and (min-width: 1240px) {
  .core .beers {
    display: block;
  }
}

@media only screen and (min-width: 1720px) {
  .core .beers {
    max-width: 38rem;
  }
}

.core #beer1 {
  z-index: 5;
}

.core #beer2 {
  z-index: 4;
}

.core .beer-info {
  width: 100%;
  height: 50%;
  position: relative;
}

.core .beer-info .tablet-break {
  display: none;
}

@media only screen and (min-width: 680px) {
  .core .beer-info .tablet-break {
    display: block;
  }
}

.core .beer-info .bg-rt {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 40%;
  position: absolute;
  top: 0;
  background-color: white;
  z-index: 1;
}

@media only screen and (min-width: 680px) {
  .core .beer-info .bg-rt {
    width: 50%;
    height: 100%;
    top: auto;
    right: 0;
  }
}

.core .beer-info .color-lt {
  width: 100%;
  height: 60%;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

@media only screen and (min-width: 680px) {
  .core .beer-info .color-lt {
    width: 50%;
    height: 100%;
    bottom: auto;
    left: 0;
  }
}

.core .beer-info .beer-description {
  position: absolute;
  width: 100%;
  top: 4%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 3;
  text-align: center;
}

@media only screen and (min-width: 680px) {
  .core .beer-info .beer-description {
    width: 40%;
    top: calc(50% - 12rem);
    left: 25%;
    text-align: left;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media only screen and (min-width: 1240px) {
  .core .beer-info .beer-description {
    width: auto;
    top: 50%;
    left: 8%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}

.core .beer-info .beer-description .description-outline {
  font-size: 12vw;
}

@media only screen and (min-width: 680px) {
  .core .beer-info .beer-description .description-outline {
    font-size: 8rem;
  }
}

@media only screen and (min-width: 1240px) {
  .core .beer-info .beer-description .description-outline {
    font-size: 8vw;
  }
}

.core .beer-info .beer-description h3 {
  font-family: "Oswald", sans-serif;
  font-size: 6vw;
  margin-top: 0.5rem;
  letter-spacing: 1px;
}

@media only screen and (min-width: 680px) {
  .core .beer-info .beer-description h3 {
    font-size: 2.4rem;
    margin-top: 1rem;
  }
}

@media only screen and (min-width: 1240px) {
  .core .beer-info .beer-description h3 {
    font-size: 1.8vw;
  }
}

.core .beer-info .beer-details {
  width: 100%;
  position: absolute;
  left: 50%;
  bottom: 4%;
  z-index: 3;
  text-align: center;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

@media only screen and (min-width: 680px) {
  .core .beer-info .beer-details {
    width: 40%;
    top: calc(50% + 12rem);
    left: 25%;
    bottom: auto;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: left;
  }
}

@media only screen and (min-width: 1240px) {
  .core .beer-info .beer-details {
    width: auto;
    top: 50%;
    right: 8%;
    left: auto;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}

.core .beer-info .beer-details .alcohol-numbers {
  font-size: 8.5vw;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

@media only screen and (min-width: 680px) {
  .core .beer-info .beer-details .alcohol-numbers {
    font-size: 5rem;
  }
}

@media only screen and (min-width: 1240px) {
  .core .beer-info .beer-details .alcohol-numbers {
    font-size: 4.8vw;
  }
}

.core .beer-info .beer-details .details-button {
  border-color: white;
  color: white;
  padding: 0.5rem 1.5rem;
  font-size: 1.6rem;
  margin-top: 1.2rem;
}

@media only screen and (min-width: 680px) {
  .core .beer-info .beer-details .details-button {
    margin-top: 2rem;
  }
}

@media only screen and (min-width: 1240px) {
  .core .beer-info .beer-details .details-button {
    margin-top: 3rem;
    padding: 0.5rem 2rem;
    font-size: 1.8rem;
  }
}

.core .beer-info .mobile-beers {
  height: 55%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 4;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media only screen and (min-width: 680px) {
  .core .beer-info .mobile-beers {
    width: 35%;
    max-width: 25rem;
    height: auto;
    left: 75%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media only screen and (min-width: 1240px) {
  .core .beer-info .mobile-beers {
    display: none;
  }
}

.core .beer-info .mobile-beers img {
  width: auto;
  height: 100%;
}

@media only screen and (min-width: 680px) {
  .core .beer-info .mobile-beers img {
    width: 100%;
    height: auto;
  }
}

.core #info1 .color-lt {
  background-color: #dda124;
}

.core #info1 .description-outline {
  color: transparent;
}

@media only screen and (min-width: 680px) {
  .core #info1 .description-outline {
    color: #dda124;
  }
}

.core #info1 .alcohol-numbers {
  color: #ffe08e;
}

.core #info1 h3 {
  color: #ae7e1a;
}

.core #info1 .bg-rt {
  background-image: url("../../../img/helles-bg.jpg");
}

.core #info2 .color-lt {
  background-color: #7a9cb0;
}

.core #info2 .description-outline {
  color: transparent;
}

@media only screen and (min-width: 680px) {
  .core #info2 .description-outline {
    color: #7a9cb0;
  }
}

.core #info2 .alcohol-numbers {
  color: #b6e4ff;
}

.core #info2 h3 {
  color: #456f88;
}

.core #info2 .bg-rt {
  background-color: #87b6d1;
}

.beer-carousel {
  width: 100%;
  margin-top: 3rem;
  overflow: hidden;
}

.beer-carousel .carousel-beer {
  text-align: center;
}

.beer-carousel .carousel-beer .beer-can, .beer-carousel .carousel-beer .reserve-bottle {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.beer-carousel .carousel-beer .beer-can img, .beer-carousel .carousel-beer .reserve-bottle img {
  height: 100%;
  width: auto;
}

@media only screen and (min-width: 680px) {
  .beer-carousel .carousel-beer .beer-can img, .beer-carousel .carousel-beer .reserve-bottle img {
    width: 100%;
    height: auto;
  }
}

.beer-carousel .carousel-beer .beer-can {
  height: 65vh;
}

@media only screen and (min-width: 680px) {
  .beer-carousel .carousel-beer .beer-can {
    width: 50%;
    height: auto;
  }
}

@media only screen and (min-width: 1240px) {
  .beer-carousel .carousel-beer .beer-can {
    width: 60%;
  }
}

.beer-carousel .carousel-beer .reserve-bottle {
  height: 65vh;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 680px) {
  .beer-carousel .carousel-beer .reserve-bottle {
    width: 50%;
    height: auto;
  }
}

@media only screen and (min-width: 1240px) {
  .beer-carousel .carousel-beer .reserve-bottle {
    width: 100%;
  }
}

.beer-carousel .carousel-beer .carousel-details {
  margin-top: -10vh;
}

@media only screen and (min-width: 680px) {
  .beer-carousel .carousel-beer .carousel-details {
    margin-top: -6vh;
  }
}

@media only screen and (min-width: 1024px) {
  .beer-carousel .carousel-beer .carousel-details {
    margin-top: -3vh;
  }
}

@media only screen and (min-width: 1240px) {
  .beer-carousel .carousel-beer .carousel-details {
    margin-top: -6vh;
  }
}

.beer-carousel .carousel-beer .carousel-details h3,
.beer-carousel .carousel-beer .carousel-details p {
  font-family: "Oswald", sans-serif;
  color: black;
  font-weight: 500;
}

.beer-carousel .carousel-beer .carousel-details h3 {
  text-transform: uppercase;
}

.beer-carousel .carousel-beer .details-button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-color: black;
  color: black;
}

.beer-carousel .carousel-beer .details-button .right-arrow::before {
  border-style: solid;
  border-width: 0.15rem 0.15rem 0 0;
  content: '';
  display: inline-block;
  height: 1.1;
  position: relative;
  vertical-align: top;
  width: 1.1;
  color: black;
  top: 0.55rem;
  left: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#reserve-carousel .carousel-details {
  margin-top: 0;
}

#reserve-carousel .carousel-details h3, #reserve-carousel .carousel-details p {
  color: white;
}

#reserve-carousel .carousel-details h3 {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.untappd {
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
}

@media only screen and (min-width: 680px) {
  .untappd {
    padding-left: 8%;
    padding-right: 8%;
  }
}

.untappd .untappd-listing {
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: inline-block;
}

.untappd .untappd-listing .untappd-item {
  margin-bottom: 3rem;
  display: block;
}

@media only screen and (min-width: 680px) {
  .untappd .untappd-listing .untappd-item {
    margin-bottom: 5rem;
  }
}

.untappd .untappd-listing .untappd-item:last-of-type {
  margin-bottom: 0;
}

.untappd .untappd-listing .untappd-item .untappd-logo {
  width: 20%;
  float: left;
  padding-right: 0.8rem;
}

@media only screen and (min-width: 680px) {
  .untappd .untappd-listing .untappd-item .untappd-logo {
    width: 10%;
    max-width: 8rem;
  }
}

.untappd .untappd-listing .untappd-item .untappd-info {
  width: 80%;
  float: right;
  text-align: left;
}

@media only screen and (min-width: 680px) {
  .untappd .untappd-listing .untappd-item .untappd-info {
    width: 90%;
  }
}

.untappd .untappd-listing .untappd-item .untappd-info h3,
.untappd .untappd-listing .untappd-item .untappd-info p,
.untappd .untappd-listing .untappd-item .untappd-info li {
  color: black;
  font-family: sans-serif;
}

.untappd .untappd-listing .untappd-item .untappd-info h3 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.untappd .untappd-listing .untappd-item .untappd-info p {
  font-size: 1.3rem;
}

.untappd .untappd-listing .untappd-item .untappd-info li {
  font-size: 1.3rem;
  font-weight: bold;
}

.untappd .untappd-listing .untappd-item .untappd-info .italics {
  font-style: italic;
  font-weight: 400;
  font-size: 1.4rem;
}

.untappd .untappd-listing .untappd-item .untappd-info .untappd-description {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.untappd .untappd-listing .untappd-item .untappd-info .untappd-prices {
  max-width: 50rem;
  padding: 0;
  overflow-x: hidden;
  list-style: none;
}

@media only screen and (min-width: 680px) {
  .untappd .untappd-listing .untappd-item .untappd-info .untappd-prices {
    max-width: 80rem;
  }
}

.untappd .untappd-listing .untappd-item .untappd-info .untappd-prices li::before {
  float: left;
  width: 0;
  white-space: nowrap;
  content: "· · · · · · · · · · · · · · · · · · · · " "· · · · · · · · · · · · · · · · · · · · " "· · · · · · · · · · · · · · · · · · · · " "· · · · · · · · · · · · · · · · · · · · " "· · · · · · · · · · · · · · · · · · · · " "· · · · · · · · · · · · · · · · · · · · ";
}

.untappd .untappd-listing .untappd-item .untappd-info .untappd-prices span + span {
  float: right;
  padding-left: 0.4rem;
  background-color: white;
}

.untappd .untappd-listing .untappd-item .untappd-info .untappd-prices span:first-child {
  padding-right: 0.4rem;
  background-color: white;
}

.specials {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.2)));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.2));
}

@media only screen and (min-width: 680px) {
  .specials {
    padding-bottom: 0;
  }
}

.specials h3, .specials h4, .specials h5 {
  font-family: "Oswald", sans-serif;
}

.specials h3 {
  text-transform: uppercase;
  font-size: 2.8rem;
}

@media only screen and (min-width: 1024px) {
  .specials h3 {
    font-size: 4rem;
  }
}

.specials h3 > span {
  font-size: 1.4rem;
  color: black;
}

@media only screen and (min-width: 1024px) {
  .specials h3 > span {
    font-size: 2rem;
  }
}

.specials h5 {
  font-size: 1.6rem;
  font-weight: 500;
}

@media only screen and (min-width: 680px) {
  .specials h5 {
    font-size: 2rem;
  }
}

.specials .daily-specials {
  width: 100%;
}

@media only screen and (min-width: 680px) {
  .specials .daily-specials {
    width: calc(50% - 2rem);
    float: right;
  }
}

.specials .daily-specials h5, .specials .daily-specials p {
  color: black;
}

.specials .daily-specials h5 {
  margin-top: 1.5rem;
}

@media only screen and (min-width: 680px) {
  .specials .daily-specials .primary-heading {
    text-align: left;
    margin-top: 0;
  }
}

.specials .daily-specials .lunch, .specials .daily-specials .happy-hour, .specials .daily-specials .beer-to-go {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.specials .daily-specials .lunch h3, .specials .daily-specials .beer-to-go h3 {
  color: black;
}

.specials .daily-specials .happy-hour h3 {
  color: #c8102e;
}

.specials .daily-specials .details-button {
  margin-top: 2rem;
  color: black;
  font-size: 1.2rem;
  padding: 0.4rem 1rem;
  border-width: 1px;
}

@media only screen and (min-width: 1024px) {
  .specials .daily-specials .details-button {
    font-size: 1.4rem;
    padding: 0.5rem 1.4rem;
  }
}

.specials .daily-specials .details-button .right-arrow {
  margin-left: 2rem;
}

.specials .daily-specials .details-button .right-arrow::before {
  border-style: solid;
  border-width: 0.15rem 0.15rem 0 0;
  content: '';
  display: inline-block;
  height: 0.8rem;
  position: relative;
  vertical-align: top;
  width: 0.8rem;
  color: black;
  top: 0.55rem;
  left: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.specials .daily-specials .details-button .right-arrow::before {
  border-width: 0.05rem 0.05rem 0 0;
  top: 0.4rem;
}

.specials .daily-specials .military {
  padding: 2rem 1rem;
  background: #c8102e;
  text-align: center;
}

.specials .daily-specials .military h5 {
  color: white;
  margin-top: 1rem;
}

.specials .weekly-specials {
  margin-top: 5rem;
  text-align: center;
  position: relative;
}

@media only screen and (min-width: 680px) {
  .specials .weekly-specials {
    width: calc(50% - 2rem);
    float: left;
    margin-top: 0;
  }
}

.specials .weekly-specials img {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.specials .weekly-specials h4 {
  color: #a7a8aa;
  text-transform: uppercase;
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 500;
}

@media only screen and (min-width: 1024px) {
  .specials .weekly-specials h4 {
    font-size: 2.4rem;
  }
}

.specials .weekly-specials h5 > span {
  font-size: 1rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
}

.specials .weekly-specials p {
  font-size: 1rem;
}

.specials .weekly-specials .weekly-text {
  width: 80%;
  max-width: 400px;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main-nav {
  width: 100%;
  height: 5rem;
  position: absolute;
  background-color: white;
  top: 0;
  z-index: 9;
}

@media only screen and (min-width: 680px) {
  .main-nav {
    height: 8rem;
    position: fixed;
  }
}

.main-nav .social-media {
  display: none;
}

.main-nav .mobile-logo {
  width: 20%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main-nav .mobile-logo img {
  max-height: 4.5rem;
}

@media only screen and (min-width: 680px) {
  .main-nav .mobile-logo {
    display: none;
  }
}

.main-nav .logo-plate {
  display: none;
  width: 36.5rem;
  height: 15rem;
  border: 2px solid white;
  position: absolute;
  padding: 3rem;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: black;
}

@media only screen and (min-width: 680px) {
  .main-nav .logo-plate {
    display: block;
  }
}

.main-nav .logo-plate img {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main-nav .shrink-plate {
  height: 8rem;
  padding: 2rem 7rem;
  border: none;
}

.main-nav .hamburger {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 0;
  right: 0;
}

.main-nav .hamburger span {
  width: 100%;
  height: 5px;
  background-color: #dd1a32;
}

footer {
  width: 100%;
  padding: 3rem 2rem;
  position: relative;
  background-color: white;
}

footer .footer-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

@media only screen and (min-width: 1240px) {
  footer .footer-container {
    max-width: 122rem;
  }
}

@media only screen and (min-width: 1720px) {
  footer .footer-container {
    max-width: 140rem;
  }
}

footer .beer-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 1024px) {
  footer .beer-logos {
    width: 35%;
    float: left;
  }
}

footer .beer-logos .beer-logo-container {
  width: 25%;
}

footer .beer-logos .beer-logo-container img {
  height: 6rem;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

footer .footer-nav {
  padding-top: 3rem;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  footer .footer-nav {
    width: 65%;
    float: right;
    padding-top: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@media only screen and (min-width: 680px) {
  footer .footer-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0 4rem;
  }
}

@media only screen and (min-width: 680px) and (min-width: 1024px) {
  footer .footer-nav ul {
    padding: 0;
  }
}

footer .footer-nav ul li {
  width: 50%;
  float: left;
  display: block;
}

footer .footer-nav ul li:nth-of-type(-n+4) {
  margin-bottom: 2rem;
}

@media only screen and (min-width: 680px) {
  footer .footer-nav ul li {
    width: auto;
  }
  footer .footer-nav ul li:nth-of-type(-n+4) {
    margin-bottom: 0;
  }
}

footer .footer-nav ul li a {
  width: 100%;
  text-decoration: none;
  color: #a7a8aa;
  text-transform: uppercase;
  font-weight: 600;
}

@media only screen and (min-width: 680px) {
  footer .footer-nav ul li a {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 1024px) {
  footer .footer-nav ul li a {
    font-size: 1.6rem;
  }
}

.home .brew-room, .home .tours-events {
  width: 100%;
  position: relative;
  padding: 0;
}

.home .brewpub, .home .taproom, .home .brews, .home .merch, .home .tours, .home .events {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

.home .brewpub, .home .taproom, .home .tours, .home .events {
  padding: 6rem 2rem;
}

@media only screen and (min-width: 680px) {
  .home .brewpub, .home .taproom, .home .tours, .home .events {
    width: 50%;
    float: left;
  }
}

@media only screen and (min-width: 680px) {
  .home .brewpub, .home .taproom {
    height: 100%;
  }
}

@media only screen and (min-width: 680px) {
  .home .brew-room {
    height: 100%;
  }
}

@media only screen and (min-width: 680px) {
  .home .tours-events {
    height: 38%;
  }
}

@media only screen and (min-width: 680px) {
  .home .tours, .home .events {
    height: 100%;
  }
}

.home .hero {
  background-image: url("../../../img/hang-bg.jpg");
}

.home .brewpub {
  background-image: url("../../../img/brewpub-bg.jpg");
}

.home .taproom {
  background-image: url("../../../img/taproom-bg.jpg");
}

.home .brews {
  background-image: url("../../../img/brews-cooler.jpg");
  width: 100%;
  height: 100%;
}

.home .merch {
  background-image: url("../../../img/store-bg.jpg");
  padding: 10rem 2rem;
}

@media only screen and (min-width: 680px) {
  .home .merch {
    width: 100%;
    height: 62%;
  }
}

.home .tours {
  background-image: url("../../../img/tours-bg.jpg");
}

.home .events {
  background-image: url("../../../img/events-bg.jpg");
}

.brews-body .hero {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../../../img/brews-hero.jpg");
}

.brews-body .reserve {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../../../img/reserve-bg.jpg");
}

.brewpub-body .hero {
  background-image: url("../../../img/brewpub-hero.jpg");
}

.taproom-body .hero {
  background-image: url("../../../img/taproom-hero.jpg");
}

.taproom-body .tap-worker {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 60%;
  background-image: url("../../../img/tap-work.jpg");
}

.events-body .hero {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../../../img/events-hero.jpg");
}

.events-body .events-images {
  padding: 4rem 0;
}

@media only screen and (min-width: 680px) {
  .events-body .events-images {
    padding: 8rem 0;
  }
}

.events-body .events-images .half-width-image {
  float: left;
}

@media only screen and (min-width: 680px) {
  .events-body .events-images .half-width-image {
    width: 50%;
  }
}
/*# sourceMappingURL=main.css.map */